@model List<HotelSystem.Models.Room>
@{
    ViewBag.Title = "Index";
}

    <div class="page">
        <div id="dashboard">
            <div class="room-list">
                <table class="table table-hover" style="display: table;">
                    <thead class="thead-dark">
                        <tr>Buraya booking gelecek ve statuslari true olacaq
                            <th scope="col">Şəkil</th>
                            <th>Qeydiyyatlı Şəxs</th>
                            <th>Nömrə</th>
                            <th>Gün Aralığı</th>
                            <th>Qiymət</th>
                            <th>Durum</th>
                            <th>Tənzimləmələr</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td style="width:30%">
                                <div class="photo">
                                    <img src="~/Uploads/@item.Photo" alt="">
                                </div>
                            </td>
                            <td style="width:18%">
                                <h3>Qalan adam</h3>
                            </td>
                            <td style="width:5%">
                                <h6>@item.Number</h6>
                            </td>
                            <td style="width:15%">
                                <h6>Gun Araligi</h6>
                            </td>
                            <td style="width:15%">
                                <h6 class="price">@String.Format("{0:N0}", item.Price) AZN</h6>
                            </td>
                            <td style="width:7%">
                                    @{
                                        if (item.Status == false)
                                        {
                                            <h6 class="badge badge-success">Boş</h6>
                                        }
                                        else
                                        {
                                            <h6 class="badge badge-danger">Dolu</h6>
                                        }
                                    }
                            </td>
                            <td style="width:10%">
                                <a href="@Url.Action("checkout",new { id=item.Id})" class="btn btn-danger">Bitir</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

